<h1>Burgers!</h1>

<h2>Burgers to eat!</h2>

<ul>
    {{#each burgers}}
    {{!-- {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}} --}}
    {{!-- 
    <p>
      {{this.id}}. {{this.burger_name}}
     </p>  --}}
    {{#unless devoured}}
    <p>
        {{this.id}}. {{this.burger_name}} <button class="devoure" data-id="{{this.id}}">Devoure!</button>
    </p>

    {{/unless}}

    {{/each}}
</ul>

<h2>Burgers that have been eaten!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{!-- {{> cats/cat-block sleep=false}} --}}
    <p>
        {{this.id}}. {{this.burger_name}}
    </p>


    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burgers</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burg">Burgers Name:</label>
        <input type="text" id="burg" name="name">
    </div>

    {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

    <button class = "submit" >Add Burgers</button>
</form>